.container {
  padding: 20px;
  font-family: sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #0a0a0a;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #1d016f;
}

tr:nth-child(even) {
  background-color: #0f0f0f;
}